/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-family-blocks: "PressStart2P", fantasy;
  --font-family-cards: "Inter", sans-serif;
  --font-weight-main-text-card: 410;
  --font-weight-heading-card: 715;
  --linear-gradient: repeating-linear-gradient(to right, #d3d3d3, transparent 2px),
                     repeating-linear-gradient(to bottom, #d3d3d3, transparent 2px),
                     repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --block-width: clamp(375px, 100%, 700px);
  --color-text-stroke: 1px #fff;
  --color-light: #fff;
  --color-dark: #000;
  --color-heart: #FF0000;
}
